body {
    background-color: #ffffff;

}
.background {
    background-color: blue;

    .alert {
        color: red;
    }
}
.Dashboard {

  margin-top: 4.6vw;
  font-size: 1.3vw;

}
.page{
  margin:4vw;

}
.dashboard{
  margin-top: 2.6vw;

}
.logOut{
  text-align: center;
}
.form{
  margin:1vw;
  padding: 1vw;
}
.modal{
  padding: 1vw;
}
